span[class^="embedFooterText"] {
  width: 100%;
  .images img {
    max-width: 50%;
  }
  .images {
    margin-bottom: 8px;
  }
  .stats {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -5px;
    font-weight: bold;
  }
  .RP-Tik-Sound {
    justify-content: flex-end;
    span {
      text-align: right;
      margin-right: 8px;
      font-size: 100%;
    }
    img {
      margin-right: 0;
    }
  }
}
.tik-author {
  line-height: 15px;
  span {
    display: block;
  }
}
