span[class^="embedFooterText"] {
  width: 100%;
}
span[class^="embedFooterText"] .images img {
  max-width: 50%;
}
span[class^="embedFooterText"] .images {
  margin-bottom: 8px;
}
span[class^="embedFooterText"] .stats {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -5px;
  font-weight: bold;
}
span[class^="embedFooterText"] .RP-Tik-Sound {
  justify-content: flex-end;
}
span[class^="embedFooterText"] .RP-Tik-Sound span {
  text-align: right;
  margin-right: 8px;
  font-size: 100%;
}
span[class^="embedFooterText"] .RP-Tik-Sound img {
  margin-right: 0;
}

.tik-author {
  line-height: 15px;
}
.tik-author span {
  display: block;
}
